#Application
NEXT_PUBLIC_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# External services
NEYNAR_API_KEY=
NEYNAR_CLIENT_ID=

# Wallets
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_RPC_URL=
PRIVATE_KEY=

# KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Error Tracking
SENTRY_AUTH_TOKEN=
