#Application
NEXT_PUBLIC_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# External services
NEYNAR_API_KEY=
NEYNAR_CLIENT_ID=
NEXT_SELF_WS_URL=

# Wallets
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
NEXT_PUBLIC_MAINNET_RPC_URL=
NEXT_PUBLIC_TESTNET_RPC_URL=
PRIVATE_KEY=
NEXT_PUBLIC_CELO_NETWORK=

# KV
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Error Tracking
SENTRY_AUTH_TOKEN=
